@charset "UTF-8"

/*
em HTML 'id' = '#' em CSS (só pode um elemento)
        'class' = '.' (pode varios)
*/

body {
    background-color: rgb(91, 114, 91);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: rgb(95, 148, 95);
    color: white;
}
h1 {
    color: rgb(95, 148, 95);
}
h2{
    color: rgb(58, 119, 111);
}
.basico{
    color: rgb(58, 95, 58);
}
.intermediario{
    color: rgb(221, 221, 111);
}
.avancado{
    color: brown;
}
.destaque{
    background-color: rgba(175, 172, 172, 0.651);
}